/* full page */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* link interactions */

a:hover {
    text-decoration: underline;
    text-decoration-color: seagreen;
    text-decoration-style: solid;
}
a:active {
    text-decoration: underline;
    text-decoration-color: rgb(8, 243, 110);
    text-decoration-style: solid;
}

/* header general format */

header {
    background-color: black;
    display: flex;
    flex-direction: row;
}
header div {
    background-color: royalblue;
    margin: auto;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: khaki;
}
header li {
    background-color: red;
}
header a {
    color: white;
    text-decoration: none;
}


/* left - logo */



/* mid - nav */


/* right - options */



eader .search {
    background-image: url("images/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    text-indent: -99999999px;
}
eader .login {
    background-image: url("images/login.png");
    background-size: 22px;
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    text-indent: -99999999px;
}
eader .cart {
    background-image: url("images/cart.png");
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    text-indent: -9999999px;
}

/* responsive rules */

@media screen and (max-width: 800px) {
    header {
        background-color: hotpink;
    }
}


/* banner */

.banner {
    height: 600px;
    background-image: url("images/2nature_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    background-color: red;
    height: 60px;
    width: 300px;
    position: absolute;
    bottom: 10px;
    text-transform: uppercase;
}


eftbox {
    height: inherit;
    background-image: url("images/2nature_logo_06.jpg");
    text-indent: -9999999px;
    background-size: 47px;
    background-repeat: no-repeat;
    margin-left: 40px;


    
#middlebox {
    height: 40px;


    #rightbox {
        height: 40px;
    