/* full page */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* link interactions */

a:hover {
    text-decoration: underline;
    text-decoration-color: seagreen;
    text-decoration-style: solid;
}
a:active {
    text-decoration: underline;
    text-decoration-color: rgb(8, 243, 110);
    text-decoration-style: solid;
}


/* header general format */

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 40px;
}
header div {
    margin: auto;
    height: inherit;
}
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: inherit;
    margin: auto;
}
header li {
    line-height: 40px;
    height: 40x;
}
header a {
    color: white;
    text-decoration: none;
}


/* left - logo */

ul .logo {
    position: relative;
    width: 80;
}

/* mid - nav */

header .midfirst {
    width: 60px;
    text-align: center;
}

header .mid {
    width: 60px;
    text-align: center;
}

header .midlast {
    width: 60px;
    text-align: center;
}


/* right - options */

header .search {
    position: relative;
    margin-top: 5px;
    width: 35;
}
header .login {
    position: relative;
    margin-top: 6px;
    width: 35;
}
header .cart {
    position: relative;
    margin-top: 8px;
    width: 35;
}

/* responsive rules */

@media screen and (max-width: 800px) {
    header {
        background-color: hotpink;
    }
}


/* banner */

.banner {
    height: 600px;
    background-image: url("images/2nature_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
span:before {
    content: ' ';
    width: 100%;
    height: 1em;
    display: block;
}
h1 {
    background-color: red;
    text-transform: uppercase;
    position: relative;
    margin-top: 200px;
    margin-left: 20%;
    font-weight: 500;
    font-size: 7vmax;
    
    width: 80%;

}
section .twonature {
    position: relative;
    margin-left: 20%;
}

/* section: Current */

.current {
    height: 500px;
    overflow: hidden;
}

.current img {
    max-width: 100%;
    height: auto;
    transition: transform 1s ease;
}

.current:hover img {
    transform: scale(1.1);
}

/* section:  */